body {
  font-size: 16px;
  color: #333;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 10px #555;
          box-shadow: 0 5px 10px #555;
}

.btn-secondary {
  background-color: #f9ca24;
  border: 1px solid #f9ca24;
}

.btn-secondary:hover {
  background-color: #e4b306;
  border: 1px solid #e4b306;
}

.navbar {
  padding: 0;
  z-index: 9999;
  background-color: #fff;
}

.navbar-brand {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #22a6b3 !important;
}

.navbar-nav,
.navbar-toggler {
  margin: 16px;
}

.navbar .nav-link:hover {
  color: #7ed6df !important;
}

.navbar .nav-link.active {
  color: #22a6b3 !important;
}

#landing {
  min-height: 87vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 166, 179, 0.75)), to(rgba(34, 166, 179, 0.75))), url(/images/landing.jpg?82df77a89e0de60eb4beead09cc4d933);
  background: linear-gradient(rgba(34, 166, 179, 0.75), rgba(34, 166, 179, 0.75)), url(/images/landing.jpg?82df77a89e0de60eb4beead09cc4d933);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
}

#landing .main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#landing .contact-container {
  background-color: rgba(249, 202, 36, 0.95);
  width: 100%;
  text-align: center;
  color: #fff;
  justify-self: flex-end;
}

#landing .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#landing .contact-box * {
  padding: 0;
  margin: 0;
}

#landing .contact-box:hover {
  background-color: #22a6b3;
}

#services .service {
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#services .service:hover {
  -webkit-box-shadow: 0 5px 10px #555;
          box-shadow: 0 5px 10px #555;
  border-radius: 3px;
}

#services .service-image {
  width: 50%;
}

#reviews {
  background-color: #dff9fb;
}

#reviews .review {
  font-style: italic;
}

#reviews .review img {
  width: 100%;
}

#reviews .review h4 {
  color: #f9ca24;
}

