body {
  font-size: 16px;
  font-family: "K2D", sans-serif;
  color: #333;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-weight: 800;
}

h2,
h3,
h4 {
  font-weight: 700;
}

a {
  color: #22a6b3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #7ed6df;
  text-decoration: none;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 10px #222;
          box-shadow: 0 5px 10px #222;
}

.btn-secondary {
  background-color: #f9ca24;
  border: 1px solid #f9ca24;
}

.btn-secondary:hover {
  background-color: #e4b306;
  border: 1px solid #e4b306;
}

.navbar {
  padding: 8px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #22a6b3 !important;
}

.navbar-nav,
.navbar-toggler {
  margin: 16px;
}

.navbar .nav-link:hover {
  color: #7ed6df !important;
}

.navbar .nav-item.active .nav-link {
  color: #22a6b3 !important;
}

footer {
  background-color: #222;
  color: #fff;
}

footer .fa {
  color: #22a6b3;
}

footer h4 {
  color: #f9ca24;
}

.project {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 999;
}

.project a {
  color: inherit;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  text-align: center;
  height: 100%;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.project *:not(.btn) {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.project:hover {
  cursor: pointer;
}

.project:hover .project-description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project:hover .project-img {
  -webkit-filter: brightness(0.45) blur(2px);
          filter: brightness(0.45) blur(2px);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#landing {
  min-height: 72vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 166, 179, 0.75)), to(rgba(34, 166, 179, 0.75))), url(/images/landing.jpg?82df77a89e0de60eb4beead09cc4d933);
  background: linear-gradient(rgba(34, 166, 179, 0.75), rgba(34, 166, 179, 0.75)), url(/images/landing.jpg?82df77a89e0de60eb4beead09cc4d933);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
}

#landing .main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container {
  background-color: rgba(249, 202, 36, 0.95);
  width: 100%;
  text-align: center;
  color: #fff;
  justify-self: flex-end;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact-box * {
  padding: 0;
  margin: 0;
}

.contact-box:hover {
  background-color: #22a6b3;
}

#services .service {
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#services .service:hover {
  -webkit-box-shadow: 0 5px 10px #222;
          box-shadow: 0 5px 10px #222;
  border-radius: 3px;
}

#services .service-image {
  width: 50%;
}

#reviews {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(223, 249, 251, 0.9)), to(rgba(223, 249, 251, 0.9))), url(/images/review.jpg?738192f7cc22a3adf449b33c9502ee60);
  background: linear-gradient(rgba(223, 249, 251, 0.9), rgba(223, 249, 251, 0.9)), url(/images/review.jpg?738192f7cc22a3adf449b33c9502ee60);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#reviews .review {
  font-style: italic;
}

#reviews .review img {
  width: 100%;
}

#reviews .review h4 {
  color: #f9ca24;
}

#projects {
  background-color: #f7f7f7;
}

h2 {
  color: #22a6b3;
  text-align: center;
}

.about-description {
  text-align: justify;
}

.about-img {
  padding: 0;
  margin: 0;
  height: 280px;
  overflow: hidden;
}

#team {
  background-color: #f7f7f7;
}

#blog-post img {
  width: 100%;
}

