.navbar {
    padding: 8px;
    z-index: 9999;
    background-color: $color-white;
    &-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary !important;
    }
    &-nav,
    &-toggler {
        margin: 16px;
    }
    .nav-link:hover {
        color: $color-primary-light !important;
    }
    .nav-link.active {
        color: $color-primary !important;
    }
}
