.navbar {
    padding: 8px;
    // z-index: 9999;
    background-color: $color-white;
    transition: all .3s;
    &-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary !important;
    }
    &-nav,
    &-toggler {
        margin: 16px;
    }
    .nav-link:hover {
        color: $color-primary-light !important;
    }
    .nav-item.active .nav-link {
        color: $color-primary !important;
    }
}
