$color-primary: #22a6b3;
$color-primary-light: #7ed6df;
$color-secondary: #f9ca24;
$color-secondary-light: #f6e58d;
$color-white: #fff;
$color-black: #000;
$color-text: #333;
$color-grey: #555;
$color-grey-light: #f7f7f7;
$color-grey-dark: #222;
$color-bg-light: #dff9fb;

$font-size: 16px;
$font-family: 'K2D', sans-serif;

$box-shadow: 0 5px 10px $color-grey-dark;
